a[id="google"]:hover::after,
a[id="google"]:focus::after
{
    content: attr(href);
}
::selection
{
    /* background-color:rgb(0, 0, 0); */
    color: white;
}
.ra {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
img
{
    height: 250px;
}
